.header {
  display: flex;
  justify-content: space-between;
  /*padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  
  align-items: center;
  border-bottom: 1px solid #2a363b;
  width: 100%;
  background-color: yellow;*/
}