@import '../../Scss/variables.scss';

.tableContainer {
  overflow: auto;

  @media (max-width: 767px) {
    max-height: 250px;
    margin-bottom: 60px;
  }

  @media (min-width: 768px) {
    max-width: calc(100% - 120px);
    max-height: 300px;
    margin-bottom: 55px;
  }

  @media (min-width: 1280px) {
    max-width: calc(100% - 150px);
    max-height: 300px;
  }
}

.table {
  width: 100%;
}

.calories {
  font-size: 12px;
}