ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p {
  margin: 0;
}
.span_kcal {
  margin-left: 5px;
}

.h2_title {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: #212121;

  @media screen and (min-width: 320px) and (max-width: 1279px) {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    padding: 0;
    width: 285px;
    height: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 288px;
    margin-bottom: 37px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
  }
}

.container {
  background: #f0f1f3;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    min-width: 320px;
    max-height: 433px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    min-width: 768px;
    height: 326px;
    padding-top: 80px;
    padding-left: 32px;
    padding-bottom: 80px;
    padding-right: 32px;
    background-image: url('../../assets/images/LayerTablet.png');
    background-position: bottom 0px right -15px;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    min-width: 517px;
    min-height: 100vh;
    padding-top: 292px;
    padding-left: 106px;
    padding-bottom: 0px;
    padding-right: 106px;
    background-image: url('../../assets/images/LayerHealth.png');
    background-size: 740px 842px;
    background-position: top 5px right -10px;
    background-repeat: no-repeat;
  }
}

.health_box {
  @media screen and (min-width: 1280px) {
    display: flex;
    min-width: 1280px;
    height: auto;
    min-height: 100vh;
    margin: 0;
  }
}

.box {
  @media screen and (min-width: 320px) {
    width: 285px;
    height: 152px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 768px) {
    height: 166px;
    margin-right: 49px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
  }
  @media screen and (min-width: 769px) and (max-width: 1279px) {
    height: 166px;
    margin-right: 49px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: auto;
  }
  @media screen and (min-width: 1280px) {
    width: 288px;
    height: 166px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.box_food {
  @media screen and (min-width: 320px) {
    width: 285px;
    height: 152px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 166px;
    margin-bottom: 0px;
    margin-left: 45px;
    margin-right: auto;
    margin-top: 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 288px;
    height: 166px;
    margin-left: auto;
    margin-right: auto;
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.box_food_list {
  overflow-y: auto;
  max-width: 270px;
  max-height: 112px;
  @media screen and (max-width: 767px) {
    overflow-y: auto;
    width: 260.69px;
    max-height: 112px;
  }
}

.title {
  display: flex;
  margin-bottom: 15px;

  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: 0.04em;

  justify-content: space-between;

  color: #9b9faa;

  @media screen and (min-width: 768px) {
    text-align: right;
  }
  @media screen and (min-width: 768px) {
  }
}

.good {
  color: #9b9faa;
}

.error {
  color: red;
}
