.container {
  height: 100vh;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-left: 20px;
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
   width: 768px;
    padding: 180px 32px 50px 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    margin: 0;
    padding: 293px 16px 100px 16px;
  }
}
