@import "../../styles/variables.scss";

.form {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
  

  @media screen and (min-width: 768px) {
    align-items: baseline;
    width: 300px;
  }
  @media screen and (min-width: 1064px) {
    align-items: baseline;
    width: 350px;
}
}

.inputsContainer {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 60px;
      }
}

.inputBox {
  position: relative;
  margin-bottom: 40px;

  &:focus-within .labelAbsolute {
  transform: translateY(-100%);
  }
}
.inputBox_last {
  position: relative;
  margin-bottom: 60px;

  &:focus-within .labelAbsolute {
  transform: translateY(-100%);
  }
}

.input {
  padding: 8px 0 0;
    display: block;
    border: none;
    border-bottom: 1px solid $border-color;
    outline: none;
    background-color: transparent;
}

.label, .input {
font-weight: 700;
font-size: 14px;
line-height: 1.2em;
letter-spacing: 0.04em;
color: $main-text-color;
;
}


.labelAbsolute {
position: absolute;
top: 0;
left: 0;
transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.labelFocus {
transform: translateY(-100%);
}
.errorMessage {
  position: absolute;
  bottom: -70%;
  font-size: 8px;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  color:$buttons-color;
  }
  
.login_button {
  font-family: 'VerdanaBold';
  display: block;
  width: 210px;
  height: 43px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;

  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border-color: transparent;
  color:$main-background-color;
  background:$buttons-color;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-left: 0;
}
}