.button_theme_swither_dark {
    cursor: pointer;
    margin-left: auto;
    width: 20px;
    height: 20px;
    @media screen and (min-width: 768px) {
        margin-left: 0;
    }
  }
  
  .button_theme_swither_light {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: auto;
  
    @media screen and (min-width: 768px) {
        margin-left: 0;
    }
  }

  .moon_icon{

    @media screen and (max-width: 768px) {
fill: #ffffff;
    }
    @media screen and (min-width: 1280px) {
        fill:#212121 ;
            }
  }