$activeColor: #212121;
$firstColor: #9b9faa;
$mobileBackgoundColor: #264061;
$mobileActiveColor: #ffffff;
nav {
  z-index: 100;
  max-width: 1280px;
  align-items: flex-end;
  display: flex;
  img {
  }
  .vector1 {
    width: 32px;
    height: 0px;
    border: 2px solid #e0e0e0;
    transform: rotate(90deg);
    align-self: end;
    margin-bottom: 10px;
    transition: 0.3s ease;
    &:hover,
    &:focus {
      border: 2px solid black;
    }
  }
  a {
    display: inline-flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.04em;
  }
  .nav__link {
    margin-right: 16px;
    margin-bottom: 5px;
    color: $firstColor;
    transition: 0.3s ease;
    &:hover,
    &:focus {
      color: black;
    }

  }

  .nav__link__loggedIn {
    margin-right: 16px;
    margin-bottom: 5px;
    color: $firstColor;
    transition: 0.3s ease;
  }

  .logo {
    transition: 0.3s ease;
    padding-bottom: 6px;
    margin-bottom: -6px;
    // без падингу паличка випирає з оутлайну при фокусі
    &:hover .vector1,
    &:focus .vector1 {
      border: 2px solid black;
    }
  }
  .active__logo {
    .vector1 {
      border: 2px solid black;
    }
  }
  .menu__button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__link.nav__link_active {
    color: $activeColor;
  }
  .nav__link__loggedIn.nav__link__loggedIn_active {
    color: $activeColor;
  }
  .nav__link__loggedIn {
    &:hover,
    &:focus {
      color: black;
    }
  }
}
@media screen and (max-width: 768px) and (min-width: 500px) {


  nav {
    align-items: center;

    .nav__link.nav__link_active {
      color: black;
    }
    .nav__link.nav__link_active {
      color: $activeColor;
    }

    //a:nth-child(2) {
    //  margin-left: auto;
    //}


  }
  .menu__button {
    margin-left: 50px;
  }
}
@media screen and (max-width: 768px) {
  nav {
    align-items: center;


    .nav__link {
      margin-bottom: 0px;
      &:last-child {
        margin-right: 0px;
      }
      &:nth-child(2) {
        margin-left: auto;
      }


    }
    .nav__link.nav__link_active {
      margin-bottom: 0px;
    }
    //a:nth-child(2) {
    //  margin-left: 0;
    //}

    .vector1 {
      display: none;
    }
    .menu__button {
      display: block !important;
    }
    .menu {
      z-index: 1;
      background: $mobileBackgoundColor;
      position: absolute;
      width: 100%;
      height: calc(100% - 82px);
      top: 82px;
      left: 0;

      transition: 0.3s ease-in-out;
      opacity: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .menu__isClosed {
      z-index: 1;
      pointer-events: none;
      transition: 0.3s ease-in-out;
      background: $mobileBackgoundColor;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 82px;
      left: 0;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .nav__link__loggedIn {
      margin: 0;
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: $firstColor;
      transition: 0.3s ease;
      &:hover,
      &:focus {
        color: $mobileActiveColor;
      }

    }
    .nav__link__loggedIn_active.nav__link__loggedIn {
      color: $mobileActiveColor;
    }
  }
}
@media screen and (max-width: 500px) {
  .menu {
    top: 122px;
    height: calc(100% - 122px);
  }
  .menu__button {
    margin-left: auto;
  }
}
