$activeColor: #212121;
$firstColor: #9b9faa;
$mobileBackgoundColor: #264061;
$mobileActiveColor: #ffffff;
nav {
  align-items: flex-end;
  display: flex;
  font-family: 'GothemProBold';

  img {
  }
  .vector1 {
    width: 36px;
    height: 4px;
    background-color: #e0e0e0;
    transform: rotate(90deg);
    align-self: end;
    margin-bottom: 10px;
    transition: 0.3s ease;
    border: none;
    &:hover,
    &:focus {
      background-color: black;
    }
  }
  a {
    display: inline-flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.04em;
  }
  .nav__link {
    margin-right: 16px;
    margin-bottom: 5px;
    color: $firstColor;
    transition: 0.3s ease;
    &:hover,
    &:focus {
      color: black;
    }
  }
  
  .nav__link_dark{
    margin-right: 16px;
    margin-bottom: 5px;
    color: $firstColor;
    transition: 0.3s ease;
    &:hover,
    &:focus {
      color: rgb(255, 255, 255);
    }
  }

  .nav__link.nav__link_active_dark {
    color: #fff;

  }


  .nav__link__loggedIn {
    margin-right: 16px;
    margin-bottom: 5px;
    color: $firstColor;
    transition: 0.3s ease;
  }

  .nav__link__loggedIn_dark {
    margin-right: 16px;
    margin-bottom: 5px;
    color: $firstColor;
    transition: 0.3s ease;

    &:hover,
    &:focus {
      color: rgb(255, 255, 255);
    }
  }

  .nav__link__loggedIn_dark.nav__link__loggedIn_active_dark{
    color: #fff;
  }

  .logo {
    transition: 0.3s ease;
    padding-bottom: 6px;
    margin-bottom: -6px;
    // без падингу паличка випирає з оутлайну при фокусі
    &:hover .vector1,
    &:focus .vector1 {
      background-color: black;
    }
  }
  .active__logo {
    .vector1 {
      background-color: black;
    }
  }
  .menu__button {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__link.nav__link_active {
    color: $activeColor;
  }
  .nav__link__loggedIn.nav__link__loggedIn_active {
    color: $activeColor;
  }
  .nav__link__loggedIn {
    &:hover,
    &:focus {
      color: black;
    }
  }
}
@media screen and (max-width: 1280px) and (min-width: 320px) {
  nav {
    align-items: center;

    .nav__link.nav__link_active {
      color: black;
    }
    .nav__link.nav__link_active {
      color: $activeColor;
    }


  }
  .menu__button {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1280px) {
  nav {
    align-items: center;

    .nav__link {
      margin-bottom: 0px;
      &:last-child {
        margin-right: 0px;
      }
      &:nth-child(2) {
        margin-left: auto;
      }
    }
    .nav__link.nav__link_active {
      margin-bottom: 0px;
    }

    .vector1 {
      display: none;
    }

    .menu__button {
      display: block !important;
      border: none;
      background: none;
      cursor: pointer;
      width: 24px;
      height: 24px;
      padding: 0;
    }
    .menu__button__isOpen {
      height: 12px;
    }
    .menu {
      z-index: 10;
      background: $mobileBackgoundColor;
      position: absolute;
      width: 100%;
      height: calc(100vh - 82px);
      top: 82px;
      left: 0;

      transition: 0.3s ease-in-out;
      opacity: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .menu__isClosed {
      z-index: 1;
      pointer-events: none;
      transition: 0.3s ease-in-out;
      background: $mobileBackgoundColor;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 82px;
      left: 0;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .nav__link__loggedIn {
      margin: 0;
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: $firstColor;
      transition: 0.3s ease;
      &:hover,
      &:focus {
        color: $mobileActiveColor;
      }
    }
    .nav__link__loggedIn_active.nav__link__loggedIn {
      color: $mobileActiveColor;
    }
  }
}
@media screen and (max-width: 768px) {
  .menu {
    top: 122px;
    height: calc(100% - 122px);
  }
  .menu__button {
    margin-left: auto;
  }
}

.languageBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin-bottom: -7px;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  @media screen and (max-width: 1280px) {
    margin-bottom: 0px;
  }
  &:hover {
    background-color: #2121210c;
  }
}

.languageText {
  color: $firstColor;
}
.currentLanguage {
  color: $activeColor;
}
.currentLanguage_dark {
  color:$firstColor;
}
