.container {
  // height: 100vh;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 152px;
  padding-left: 20px;
  padding-bottom: 41px;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 180px 90px 48px 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 293px 104px 111px 16px;

    @media screen and (min-width: 768px) {
      width: 768px;
      padding: 180px 90px 48px 32px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 1280px;
      padding: 293px 104px 0 16px;
    }
  }
}
