@import '../../Scss/variables.scss';

.modal__title {
  font-family: 'VerdanaBold';
  padding-left: 20px;
  padding-top: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-align: left;
  max-width: 320px;
  margin: 0 auto 40px auto;


  color: $title-color;

  @media screen and(min-width: 768px) {
    min-width: 365px;
    font-size: 26px;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto 20px auto;
    text-align: center;
  }
}

.modal__calories {
  font-family: 'VerdanaBold';
  position: relative;
  margin: 0 0 32px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;

  color: $calculator-color;
}

.modal__calories_small {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
}

.modal__second_title {
  font-family: 'VerdanaBold';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.04em;

  color: $title-color;

  border: none;
  border-top: 1px solid rgba(224, 224, 224, 0.2);
  display: block;
  outline: none;
  padding: 20px 0 0;
  width: 280px;

  @media screen and(min-width: 768px) {
    border-top: 1px solid rgb(224, 224, 224);
    width: 330px;
    padding: 12px 0 0;
  }
}

.modal__list {
  display: block;
  padding: 0 0 0 20px;
  // text-align: center;
  margin: 27px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;

  color: $main-text-color;
}

.modal__list_item {
  &:not(:last-child) {
    margin-bottom: 21px;
  }
}

.modal__list_wrapper {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(56, 55, 84);
  // @media screen and(min-width: 768px) {
  //   margin: 0;
  //   padding-left: 171px;
  //   padding-right: 171px;
  // }
}

.button_additional {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
