@import "../../Scss/variables.scss";


.backdrope {
  @media screen and(min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $backdrop-color;
  }
}

.modal {
  min-width: 320px;

  background:$main-background-color;

  @media screen and(min-width: 768px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 672px;
      height: 573px;
      box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
  }
}

