@import '../../Scss/variables.scss';

.form {
  padding: 40px 0;

  @media (max-width: 767px) {
    position: absolute;
    min-width: calc(100% - 40px);
    // width: 100%;
    top: 150px;
    background: $main-background-color;
    height: calc(100vh - 180px);
    transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @media (min-width: 768px) {
    display: flex;
    top: 0;
    background: $main-background-color;
  }
}

.form__isOpen {
  @media (max-width: 767px) {
    display: block;
  }

  @media (min-width: 768px) {
    display: flex;
    top: 0;
    background: transparent;
  }
}

.form__isClosed {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) {
    display: flex;
    top: 0;
    background: transparent;
  }
}

.input {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: solid 1px $border-color;
  width: 100%;
  padding: 10px;
  font-family: Verdana;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: none;
  color: #9b9faa;

  @media (min-width: 768px) {
    display: inline-block;
    padding: 10px 0;
  }

  &::placeholder {
    color: #9b9faa;
  }
}

.errorContainer {
  position: relative;
  margin-bottom: 40px;

  &:first-child {
    @media (min-width: 768px) {
      margin-right: 20px;
      width: 240px;
    }
  }

  &:nth-child(2) {
    @media (min-width: 768px) {
      margin-right: 90px;
      width: 105px;

      & input {
        text-align: center;
      }
    }
  }
}

.errorMessage {
  position: absolute;
  bottom: -50%;
  font-size: 8px;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  color: #fc842d;
}

.buttonAddDesktop {
  font-family: 'VerdanaBold';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;

  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border-color: transparent;
  color: $main-background-color;
  background: $buttons-color;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  cursor: pointer;

  @media (max-width: 767px) {
    display: none;
  }
}

.buttonAddMobile {
  font-family: 'VerdanaBold';
  display: block;
  width: 210px;
  height: 43px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;

  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border-color: transparent;
  color: $main-background-color;
  background: $buttons-color;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  cursor: pointer;
  margin: 0 auto;

  @media (min-width: 768px) {
    display: none;
  }
}

.closeButton {
  display: none;

  @media (max-width: 767px) {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    position: absolute;
    z-index: 15;
    top: -60px;

    & img {
      height: 8px;
      width: 20px;
    }
  }
}

.productListContainer {
  overflow: auto;
  max-height: 300px;
  position: absolute;
  z-index: 10;
  background: $main-background-color;
  // box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
}

.productListContainerDark {
  overflow: auto;
  max-height: 300px;
  position: absolute;
  z-index: 10;
  background: $main-background-color;
  // box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
  background-color: #f0f1f3;
}

.productListItem {
  margin-bottom: 10px;
  cursor: pointer;
}

.productListItemDark {
  margin-bottom: 10px;
  color: #212121;
  cursor: pointer;
}

.productListItem:hover {
  background-color: $button-back-color;
}
.foodNotRecommended {
  background-color: #ffe2e2;
}
.productList {
  padding: 5px;
}
