@import "../../Scss/variables.scss";

.registration_form {
  width: 85%;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    align-items: baseline;
    width: 300px;
  }
  @media screen and (min-width: 1064px) {
    padding-left: 32px;
    align-items: baseline;
    width: 350px;
}
}
.registration_label {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: 0.04em;
  color: $main-text-color;

  &:last-child {
    margin-bottom: 0;
}
}
.registration_input {
  padding: 8px 0 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $border-color;
    outline: none;
};
.registration_button {
  width: 182px;
  height: 44px;
  margin-left: 69px;
  margin-right: 69px;
  margin-top: 20px;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  background: $buttons-color;
  cursor: pointer;
  color: $main-background-color;
  border-radius: 30px;
  border: none;

  @media screen and (min-width: 768px) {
    margin-left: 0;
}
}
