@import '../src/styles/variables.scss';

* {
  box-sizing: border-box;
}

.App {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #010101;
  max-width: 1280px;
  margin: 0 auto;
}

.overflow_hidden {
  overflow: hidden;
}

.images_container_overflow_hidden {
  overflow: hidden;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    background-image: url('./assets/images/banana-tablet.png'),
      url('./assets/images/leaves-tablet.png'), url('./assets/images/strawberry-tablet.png'),
      url('./assets/images/vector-tablet.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: auto, auto, auto, auto;
    background-position: top 630px right -270px, top 520px right 150px,
      top 600px right 20px, top 500px right -20px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0;
    // padding-left: 16px;
    background-image: url('./assets/images/leaves.png'), url('./assets/images/banana.png'),
      url('./assets/images/strawberry.png'), url('./assets/images/vector.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: auto, auto, auto, auto;
    background-position: top right 200px, top -120px right -270px,
      top 470px right, top 30px right;
  }
}


.visibleElement {
  visibility: visible;
}

.hiddenElement {
  visibility: hidden;
}

