@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: "Verdana";
  src: local("Verdana"),
   url("./fonts/Verdana/Verdana.ttf") format("truetype");
  font-weight: normal;
  }
  @font-face {
    font-family: "VerdanaBold";
    src: local("VerdanaBold"),
     url("./fonts/Verdana/Verdana-Bold.ttf") format("truetype");
    font-weight: bold;
    }
    @font-face {
      font-family: "GothemProBold";
      src: local("GothemProBold"),
       url("./fonts/Gotham-Pro/GothamPro-Bold.ttf")format("truetype");
      font-weight: bold;
      }
  

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: "Verdana";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
