@import '../../styles/variables.scss';

.datepicker {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    margin-bottom: 28px;
  }
}

.title {
  font-family: 'VerdanaBold';
  margin-right: 20px;
  font-size: 18px;
  line-height: 22px;
  color: $title-color;

  @media (min-width: 768px) {
    font-size: 34px;
    line-height: 41px;
  }
}

.title_light {
  font-family: 'VerdanaBold';
  margin-right: 20px;
  font-size: 18px;
  line-height: 22px;
  color: $main-background-color;

  @media (min-width: 768px) {
    font-size: 34px;
    line-height: 41px;
  }
}

.dateButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.calendarWrapper {
  //position: absolute;
  z-index: 30;
  margin-top: 60px;
  div {
    height: 500px;
  }

  table {
    height: 90%;
    thead {
      height: 80px;
    }
  }
}

.calendar {
  width: 100%;
}