$main-text-color: #9B9FAA;
$title-color:#212121;
$main-background-color: #FFFFFF;
$secondary-background-color: #F0F1F3;
$calculator-color:#264061;
$buttons-color:#FC842D;
$backdrop-color:rgba(33, 33, 33, 0.12);
$border-color: #E0E0E0;
$button-back-color: #EFF1F3;

