.homepage_title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
  color: #2196f3;
  letter-spacing: 0.06em;
};

.homepage_text{
  margin-bottom: 20px;
  color: #757575;
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: center;
};
